**/.ipynb_checkpoints/
*.csv#
**/__pycache__/*
.vscode/
*.aux
*.bbl
*bbl-SAVE-ERROR
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
trt_model\eye_tracking_data\eye_tracking_data_ro_ro_1\pilot_sessions\011_RO_RO_1_ET1\011roro1.asc